body, code {
    font-family: 'Inconsolata', sans-serif;
}
body {
    font-size:67.5%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:200;
    font-size:1.6em;
}
h1 {
    font-size:2em;
}
h2 {
    font-size:1.8em;
}
h3 {
    font-size:1.6em;
}
.image-holder {
    margin:0px auto 5px;
    width:100px;
    height:100px;
    display:block;
}

.image-holder img {
    border-radius:50px;
    width:100%;
}

header p {
    margin:0px auto;
    text-align:center;
    font-size:1.3em;
}

a {
    text-decoration:none;
}

a:hover {
    opacity:0.8;
}

.color-scheme {
    
    
}

.color-scheme .box {
    width:30px;
    height:30px;
    float: left;
    margin-right:1px;
}

.color-scheme .box:hover {
    opacity:0.9;
    cursor:pointer;
}
@media only screen and (max-width: 480px) {
    body {
        font-size:60%;
    }
}
