body {
    font-family: Helvetica Neue;
    font-weight:200;
    margin: 0;
    color: rgb(55,55,55);
    padding-top: 3em;
    font-size:62.5%;
}
a, a:hover, a:visited {
    text-decoration:none;    
    color: rgb(55,55,55);
    font-weight:200;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:200;
}
