.post {

    width: 600px;
    margin: auto;
    box-sizing: border-box;
}

.post h1 {
}

.post i {
    float: right;
}

.post .content {
}

.post .content p {

}

.post .content code {

}

.post .content pre {

}


@media all and (max-width: 600px){

    .post, 
    .post-teaser {
        width:100%;
    }
}
