.post {

    width: 600px;
    margin: auto;
    box-sizing: border-box;
}

.post h1 {

}

.post .date {
    float: right;
    font-size:11px;
    font-style:normal;
}

.post .content {
}

.post .content p {
    font-size:1.6em;
}

.post .content code {
    font-size:1.2em;
}

.post .content p code {
    font-size:0.75em;
}

.post .content pre {
    overflow-x: scroll;
}


@media all and (max-width: 600px){

    .post, 
    .post-teaser {
        width:100%;
    }
}
