/**
 * Solarized Colors
 */
html.light {
  background-color: #fdf6e3;
  color: #657b83;
}
html.light * {
  color: #657b83;
}
html.light h1,
html.light h2,
html.light h3,
html.light h4,
html.light h5,
html.light h6 {
  color: #586e75;
  border-color: #657b83;
}
html.light a,
html.light a:active,
html.light a:visited {
  color: #586e75;
}
html.dark {
  background-color: #002b36;
  color: #839496;
}
html.dark * {
  color: #839496;
}
html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: #93a1a1;
  border-color: #839496;
}
html.dark a,
html.dark a:active,
html.dark a:visited {
  color: #93a1a1;
}
html.yellow a,
.yellow a,
html.yellow a:active,
.yellow a:active,
html.yellow a:visited,
.yellow a:visited,
html.yellow code.url,
.yellow code.url {
  color: #b58900;
}
html.yellow h1,
.yellow h1,
html.yellow h2,
.yellow h2,
html.yellow h3,
.yellow h3,
html.yellow h4,
.yellow h4,
html.yellow h5,
.yellow h5,
html.yellow h6,
.yellow h6 {
  color: #b58900;
}
html.orange a,
.orange a,
html.orange a:active,
.orange a:active,
html.orange a:visited,
.orange a:visited,
html.orange code.url,
.orange code.url {
  color: #cb4b16;
}
html.orange h1,
.orange h1,
html.orange h2,
.orange h2,
html.orange h3,
.orange h3,
html.orange h4,
.orange h4,
html.orange h5,
.orange h5,
html.orange h6,
.orange h6 {
  color: #cb4b16;
}
html.red a,
.red a,
html.red a:active,
.red a:active,
html.red a:visited,
.red a:visited,
html.red code.url,
.red code.url {
  color: #dc322f;
}
html.red h1,
.red h1,
html.red h2,
.red h2,
html.red h3,
.red h3,
html.red h4,
.red h4,
html.red h5,
.red h5,
html.red h6,
.red h6 {
  color: #dc322f;
}
html.magenta a,
.magenta a,
html.magenta a:active,
.magenta a:active,
html.magenta a:visited,
.magenta a:visited,
html.magenta code.url,
.magenta code.url {
  color: #d33682;
}
html.magenta h1,
.magenta h1,
html.magenta h2,
.magenta h2,
html.magenta h3,
.magenta h3,
html.magenta h4,
.magenta h4,
html.magenta h5,
.magenta h5,
html.magenta h6,
.magenta h6 {
  color: #d33682;
}
html.violet a,
.violet a,
html.violet a:active,
.violet a:active,
html.violet a:visited,
.violet a:visited,
html.violet code.url,
.violet code.url {
  color: #6c71c4;
}
html.violet h1,
.violet h1,
html.violet h2,
.violet h2,
html.violet h3,
.violet h3,
html.violet h4,
.violet h4,
html.violet h5,
.violet h5,
html.violet h6,
.violet h6 {
  color: #6c71c4;
}
html.blue a,
.blue a,
html.blue a:active,
.blue a:active,
html.blue a:visited,
.blue a:visited,
html.blue code.url,
.blue code.url {
  color: #268bd2;
}
html.blue h1,
.blue h1,
html.blue h2,
.blue h2,
html.blue h3,
.blue h3,
html.blue h4,
.blue h4,
html.blue h5,
.blue h5,
html.blue h6,
.blue h6 {
  color: #268bd2;
}
html.cyan a,
.cyan a,
html.cyan a:active,
.cyan a:active,
html.cyan a:visited,
.cyan a:visited,
html.cyan code.url,
.cyan code.url {
  color: #2aa198;
}
html.cyan h1,
.cyan h1,
html.cyan h2,
.cyan h2,
html.cyan h3,
.cyan h3,
html.cyan h4,
.cyan h4,
html.cyan h5,
.cyan h5,
html.cyan h6,
.cyan h6 {
  color: #2aa198;
}
html.green a,
.green a,
html.green a:active,
.green a:active,
html.green a:visited,
.green a:visited,
html.green code.url,
.green code.url {
  color: #859900;
}
html.green h1,
.green h1,
html.green h2,
.green h2,
html.green h3,
.green h3,
html.green h4,
.green h4,
html.green h5,
.green h5,
html.green h6,
.green h6 {
  color: #859900;
}
html.light .color-scheme .box.bg {
  background-color: #002b36;
}
html.dark .color-scheme .box.bg {
  background-color: #fdf6e3;
}
.color-scheme .box.yellow {
  background-color: #b58900;
}
.color-scheme .box.orange {
  background-color: #cb4b16;
}
.color-scheme .box.red {
  background-color: #dc322f;
}
.color-scheme .box.magenta {
  background-color: #d33682;
}
.color-scheme .box.violet {
  background-color: #6c71c4;
}
.color-scheme .box.blue {
  background-color: #268bd2;
}
.color-scheme .box.cyan {
  background-color: #2aa198;
}
.color-scheme .box.green {
  background-color: #859900;
}
