<!DOCTYPE html>
<html lang="en" class="light yellow">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="{{ site.description }}">

    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

    <link href="/css/syntax.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/post.css" rel="stylesheet">
    <link href="/css/solarized.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></sc\
ript>
    <![endif]-->
  </head>
  <body>
    <header>
        <a class="image-holder" href="http://twitter.com/fabienallouis">
            <img src="/content/gravatar.jpeg"/>
        </a>
        <p>
        Fabien O'Carroll.<br> Javascript developer <a href="http://twitter.com/leftlogic">@leftlogic</a> for <a href="http://jsbin.com">jsbin</a>.<br>
        I'm on <a href="http://twitter.com/fabienallouis">Twitter</a> &amp;&amp; <a href="http://github.com/allouis">GitHub</a>.
        </p>
    </header>
        {{ content }}
    <footer>
        <div id="footer-signature"></div>
    </footer>
  </body>
</html>
